---
title: Tools
layout: default
---

<h1>Tools</h1>

<div class="container">
  <div class="row">
  {% for tool in site.tools %}
    <div class="col-3 box">
      <div class="card">
        <div class="card-body">
          <div class="card-title"><h1><a href="{{ tool.url }}">{{ tool.name }}</a></h1></div>
            <p class="card-text">{{ tool.ingress }}</p>
          <div class="span">
            {% if tool.repository %}
              <div><a href="{{ tool.repository }}" class="card-link">repository</a></span></div>
            {% endif %}
            {% if tool.documentation %}
              <a href="{{ tool.documentation }}" class="card-link">documentation</a>
            {% endif%}
          </div> 
      </div>
    </div>
  </div>
  {% endfor %}
</div>
</div>